---
---

$background-color: #B3D4FC;
$background-color-bottom: #FBFDFD;
$background-color-top: #FAFAFA;
$banner-color-bottom: #E8F5FA;
$banner-color-top: #DBE6EA;
$page-color: #FFF;
$border: 1px solid #CCC;
$nav-color: #E9F0F3;
$nav-active-color: #458FC8;
$heading-font-color: #6D6E71;

body {
    background-color: $background-color;
    background: linear-gradient(to bottom, $background-color-bottom 0%, $background-color-top 35%) repeat scroll 0% 0% transparent;
    padding: 16px;
    font-family: Arial,Helvetica,sans-serif;
}

div.container {
    background-color: $page-color;
    border: $border;
    padding: 4px;

    div.inner-sheet {
        padding: 11px;
    }
}

header {
    background: linear-gradient(to bottom, $banner-color-bottom 0%, $banner-color-top 100%) repeat scroll 0% 0% transparent;
    border: $border;
    padding: 16px;
    padding-bottom: 0px;

    div.nav {
        min-height: 50px;
    }

    div.logo {
        @media (max-width: 767px) {
            img {
                height: 40px;
            }
            min-height: 78px;
        }
        @media (min-width: 768px) {
            img {
                height: 54px;
            }
            min-height: 68px;
        }
    }

    h3 {
        color: $heading-font-color;
        font-weight: normal;
        margin: 0px;
    }

    ul.nav-pills {
        margin-top: 0px;
        position: absolute;
        bottom: 0;

        @media (max-width: 767px) {
            li {
                display: table-cell;
                width: 1%;

                a {
                    border-radius: 4px 4px 0 0;
                    margin-bottom: 0;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }

        li.active {
            a {
                background-image: linear-gradient(to bottom, #E8F5FA, #F9F9F9 100%);
                color: black;
                outline: none;
            }
            a:hover, a:focus {
                color: black;
            }
        }

        li {
            a:focus {
                background-color: transparent;
            }
            a:hover {
                background-image: linear-gradient(to bottom, #E8F5FA, #F9F9F9 100%);
            }
        }

        a {
            color: #6D6E71;
        }
    }

    div.links {
        a {
            color: #6D6E71;
            font-size: 90%;
        }
    }

}

div.footer {
    margin-top: 20px;
    p {
        margin: 8px;
    }
    .footer-wrapper {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

div.wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    h1.post-title, h2.post-title, h3.post-title {
        margin-top: 0px;
    }

    p {
        text-align: justify;
    }

    div.wrapped-panel {
        p {
            margin: 8px 0px;
        }
    }

    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


.nav-pills.nav-stacked {
    li.inactive {
        background-color: $nav-color;
        a {
            color: $nav-active-color;
        }
    }
    li.active {
            background-color: $nav-active-color;
    }
}


div.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    h1.nav-title, h2.nav-title, h3.nav-title, h4.nav-title {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    div.nav-item {
        margin: 0px -15px;
        a {
            display: block;
            padding: 5px 15px;
        }
        p {
            margin: 5px 0px;
        }
        .black {
            color: black;
        }
        a:link, a:visited, a:hover, a:focus {
            text-decoration: none;
            outline: none;
        }

    }
    div.nav-item a:hover, div.nav-item a:focus , div.active {
        background-color: $banner-color-bottom;
    }

    div.nav-item-xl {
        margin: 0px -30px;
        a {
            padding: 15px 30px;
        }
    }
}

.participant {
    img {
        padding-bottom: 10px;
        padding-top: 5px;
    }
}

div.announcements {
    padding-top: 5px;
    margin-bottom: 30px;
}

div.start-browser {
    max-width: 300px;
    background: linear-gradient(to bottom, $banner-color-bottom 0%, $banner-color-top 100%) repeat scroll 0% 0% transparent;
    padding: 20px 10px;
    border: $border;

    h3 {
        margin-top: 0px;
        margin-bottom: 15px;
    }

    a.btn {
        white-space: normal;
    }
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

ol.breadcrumb {
    background-color: inherit;
    padding: 0px;
    margin: 0px;
}
