---
layout: about_home
title: About
permalink: /about/
include_in_search: true
include_in_sitemap: true
---

<div class="row">
<div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 wrapper"> 
<h1 class="post-title">What is HipSci?</h1>
{% capture summary %}{% include summary.md %}{% endcapture %}
{{ summary | markdownify }}
</div>
<div class="col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2 wrapper"> 
  <img src="{{site.baseurl}}/img/ipsc_morphology2.png" class="img-responsive center-block" alt="mesoderm differentiation">
</div>
</div>

<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 wrapper"> 
{% capture ipscs %}{% include ipscs.md %}{% endcapture %}
{{ ipscs | markdownify }}
</div>
