---
layout: blank
title: About
permalink: /about/
---
 {% include components/header.html %}
  <div class="containerwide" >

    <div class="row" id="aboutpage1">
      <div class="one-half column" id="home1text">
       <h1>About Us</h1>
       <p>HIPSCI BRINGS TOGETHER DIVERSE CONSTITUENTS IN GENOMICS, PROTEOMICS, CELL BIOLOGY AND CLINICAL GENETICS TO CREATE A GLOBAL IPS CELL RESOURCE AND USE IT TO CARRY OUT CELLULAR GENETIC STUDIES</p>
    <a href="/lines/#/lines">  <div class="button">Cell lines and data browser</div></a>
  
       
      
    </div>
      <div class="arrowdh"><a href="#investigators" ></a></div>
    </div>
  </div>
  
    <div class="container" id="investigators">
    <h1>Lead Investigators</h1>
    <div class="row" id="teamboxes">
      <div class="four columns" id="staffbig" style="background-color:#000;">
          
          
       <a href="/participants/fiona-watt" data-featherlight="ajax" ><img src="/img/participants/watt.jpg" alt="Fiona Watt" >    <h3>Fiona Watt</h3></a>

          
    </div>
    
    
    <div class="four columns" id="staffbig" style="background-color:#000;">
  <a href="/participants/richard-durbin" data-featherlight="ajax"><img src="/img/participants/durbin.jpg" alt="Richard Durbin">    
    <h3>Richard Durbin</h3></a>
    
      
    
    
    </div>
    
    <div class="four columns" id="staffbig" style="background-color:#000;">
   <a href="/participants/angus-lamond" data-featherlight="ajax">    <img src="/img/participants/lamond.jpg" alt="Angus Lamond">    
     <h3>Angus Lamond</h3></a>
    

    </div>
            </div>
        
   <div class="row" id="teamboxes2">
      <div class="six columns" id="teamsmall">
      <a class="team" href="http://www.sanger.ac.uk/people/directory/gaffney-daniel" alt="Dan Gaffney"> Daniel Gaffney</a>
     </div>
     
      <div class="six columns" id="teamsmall">
       <a class="team"href="http://www.haem.cam.ac.uk/staff/senior-staff/professor-willem-h-ouwehand" alt="Willem Ouwehand"> Willem Ouwehand</a>
     </div>
    </div>
         <div class="row" id="teamboxes2">
           <div class="six columns" id="teamsmall">
         <a class="team" href="https://www.ucl.ac.uk/ich/research/genetics-genomic-medicine/experimental-personalised-medicine/research-groups/Prof-Phil-Beales" alt="Phil Beales"> Phil Beales</a>
     </div>  
     
     
    <div class="six columns" id="teamsmall">
       <a class="team" href="http://www.sanger.ac.uk/people/directory/vallier-ludovic" alt="Ludovic Vallier">Ludovic Vallier</a>
     </div>
    </div>
    
    <div class="row" id="teamboxes2">
      <div class="six columns" id="teamsmall">
        <a class="team" href="http://www.ebi.ac.uk/research/stegle">Oliver Stegle</a>
     </div>
     
          <div class="six columns" id="teamsmall">
          <a class="team" href="https://www.ebi.ac.uk/about/people/ewan-birney">Ewan Birney</a>
     </div>  
     
     
    </div>
        
         <div class="row" id="teamboxes2">
     <div class="six columns" id="teamsmall">
       <a class="team" href="http://www.kcl.ac.uk/lsm/research/divisions/gmm/departments/stemcells/people/dr-davide-danovi.aspx" alt="Davide Danovi ">Davide Danovi </a>
     </div>
     
     <div class="six columns" id="teamsmall">
        <a class="team" href="https://www.ebi.ac.uk/about/people/laura-clarke ">Laura Clarke </a>
     </div>
     
     
     
     
    </div>
        
  </div>


<div class="containerwide" id="funders" >
<div class="container">
    
    <div class="row" id="fundlogs">
         <div class="four columns" id="fundbox">
       <h2>Funders</h2>
     </div>       
    
     <div class="two columns" id="fundbox">
 <a href="https://wellcome.ac.uk"><img src="/img/funderwellcome.jpg" >  </a>
     </div>
     
         <div class="two columns" id="fundbox">
   <a href="https://www.mrc.ac.uk"> <img src="/img/fundermrc.jpg" >  </a>  
     </div>
  </div>
         
         
          <div class="row" id="fundlogs">
        <div class="four columns" id="fundbox">
       <h2>Partners</h2>
     </div>       
    
     <div class="two columns" id="fundbox">
<a href="http://www.sanger.ac.uk"><img src="/img/funderssanger.jpg" ></a>   
 <a href="https://www.ucl.ac.uk"> <img src="/img/funderucl.jpg" >   </a> 
     </div>
          
     <div class="two columns" id="fundbox">
<a href="http://www.kcl.ac.uk/index.aspx"><img src="/img/funderkings.jpg"></a>
 <a href="https://www.cam.ac.uk"> <img src="/img/fundercamb.jpg" ></a>    
      </div>
       
     <div class="two columns" id="fundbox">
     <a href="https://www.dundee.ac.uk">  <img src="/img/funderdundee.jpg"> </a>
     <a href="https://www.phe-culturecollections.org.uk/collections/ecacc.aspx">     <img src="/img/funderecacc.jpg" >      </a>
       </div>
         
            <div class="two columns" id="fundbox">
        <a href="http://www.ebi.ac.uk">  <img src="/img/funderembl.jpg"> </a>
        <a href="https://www.ebisc.org">  <img src="/img/funderebisc.jpg" ></a>      
          </div>
    
    
    </div>
    
  </div>
  </div>
   
 {% include components/newsbox.html %}
 {% include components/footer.html %}
