---
layout: blank
title: HipSci cell lines
permalink: /cells/
tags:
    - cells
---

<div class="row inner-sheet">
  <nav>
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
    <div class="row navigation">
    {% assign posts = site.tags['cells'] | sort: 'priority' %}
    {% for post in posts reversed %}
    <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="nav-item">
    <a href="{{ post.url }}">
    <p>{{ post.title }}</p>
    <div class="black ">{% if post.nav_description %}{{post.nav_description}}{% else %}{{post.excerpt}}{% endif %}</div>
    </a>
    </div>
    </div>
    {% endfor %}
    {% assign posts = site.tags['disease'] | sort: 'priority' %}
    {% for post in posts reversed %}
    <div class="col-md-3 col-sm-4 col-xs-6">
    <div class="nav-item">
    <a href="{{ post.url }}">
    <p>{{ post.title }}</p>
    <div class="black ">{% if post.nav_description %}{{post.nav_description}}{% else %}{{post.excerpt}}{% endif %}</div>
    </a>
    </div>
    </div>
    {% endfor %}
    <div class="col-md-6 col-md-offset-3  col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2  wrapper">
        {% include search_box.html %}
    </div>
    </div>
  </div>
  </nav>

  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    {% capture about %}{% include about.md %}{% endcapture %}
    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 wrapper"> 
    <h1 class="post-title">HipSci cell lines</h1>
    {{ about | markdownify }}
    </div>
    <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-8 col-xs-offset-2 wrapper"> 
      <img src="{{site.baseurl}}/img/mesoderm_red.png" class="img-responsive" alt="mesoderm differentiation">
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
  {% include announcements_panel.html %}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
  {% include publications_panel.html %}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-6  col-xs-6 wrapper">
  {% include browser_button.html text='Cell lines and data browser'  button_text='Start' link='/lines' %}
  </div>
  </div>
</div>

