---
layout: blank
permalink: /cells/
title: HipSci cell lines
---

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  
 {% include components/isotope_scripts.html %}
 {% include components/header.html %}
  <div class="containerwide" >

    <div class="row" id="celllinepage1">
      <div class="one-half column" id="home1text">
       <h1>cell lines</h1>
		   <p>We systematically generate iPSC’s from hundeds of donors using a standardised derivation pipeline and operating procedure</p>
	<a href="/lines/#/lines">  <div class="button">Cell lines and data browser</div></a>
  
       
      
    </div>
    	<div class="arrowdh"><a href="#isotype" ></a></div>
	  </div>
  </div>
  
  
  
    <div class="containerwide">
<div class="grid">
  <!-- .grid-sizer empty element, only used for element sizing -->
  <div class="grid-sizer"></div>
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2"></div>
 
</div>

    <div class="row">
      <div class="twelve columns" id="isotype">
            <h1>cell lines
 by cohort type</h1>


<div class="grid">
  <a href="/lines/#/cohorts/normal"> <div class="element-item g2" data-category="transition">
	 <h3 class="name" alt="healthy normals">Healthy normals</h3>

	 
  </div>	</a>
  
  <a href="/lines/#/cohorts/monogenic-diabetes" alt="Monogenic diabete"> 
  <div class="element-item g1 " data-category="metalloid">
  <h3 class="name">Monogenic diabetes</h3>
	

  </div> </a>
  <a href="/lines/#/cohorts/bardet-biedl-syndrome"> <div class="element-item g4 " data-category="post-transition">
   <h3 class="name" alt="Bardet Biedl syndrome">Bardet Biedl syndrome</h3>

   
  </div>	  </a>
  
  
   <a href="/lines/#/cohorts/hereditary-cerebellar-ataxia" alt="Hereditary Cerebellar Ataxias"><div class="element-item g5 " data-category="post-transition">
   <h3 class="name">Hereditary Cerebellar Ataxias</h3>

   
  </div>	 </a>
  
    <a href="/lines/#/cohorts/hereditary-spastic-paraplegia" alt="Hereditary Spastic Paraplegia">  <div class="element-item g1 " data-category="actinoid">
  <h3 class="name">Hereditary Spastic Paraplegia</h3>

   
  </div>	 </a>
   <a href="/lines/#/cohorts/kabuki-syndrome" alt="Kabuki syndrome"><div class="element-item g6 " data-category="transition">
   <h3 class="name">Kabuki syndrome</h3>

 
  </div>	 </a>
   <a href="/lines/#/cohorts/usher-syndrome-and-congenital-eye-defects">  <div class="element-item g7 " data-category="transition">
  <h3 class="name" alt="Usher syndrome and congenital eye defects">Usher syndrome and congenital eye defects </h3>
	
    
  </div>  </a>
  
     <a href="/lines/#/cohorts/congenital-hyperinsulinism" alt="Congenital Hyperinsulinia"> <div class="element-item g2 " data-category="transition">
   <h3 class="name">Congenital Hyperinsulinia</h3>


  </div>	 </a>
  
  
   <a href="/lines/#/cohorts/alport-syndrome" alt="Alport syndrome"><div class="element-item g5 " data-category="alkali">
   <h3 class="name">Alport syndrome</h3>

    
  </div>	 </a>
  
  
 <a href="/lines/#/cohorts/hypertrophic-cardiomyopathy" alt="Hypertrophic Cardiomyopathy">   <div class="element-item g2 " data-category="alkali">
  <h3 class="name">Hypertrophic Cardiomyopathy</h3>

   
  </div>	  </a>

  <a href="/lines/#/cohorts/primary-immune-deficiency" alt="Primary immune deficiency"> <div class="element-item g4 " data-category="alkaline-earth">
   <h3 class="name">Primary immune deficiency</h3>

    
  </div></a>
 
 
  <a href="/lines/#/cohorts/bleeding-and-platelet-disorder">  <div class="element-item g1 " data-category="metalloid">
  <h3 class="name" alt="Bleeding and Platelet disorders">Bleeding and Platelet disorders</h3>

  
  </div>	  </a>
 <a href="/lines/#/cohorts/genetic-macular-dystrophy" alt="Macular Dystrophy">  <div class="element-item g4 " data-category="transition">
   <h3 class="name">Macular Dystrophy</h3>

 
  </div>	</a>
  
  <a href="/lines/#/lines?Disease%20Status%5B%5D=Genetic%20macular%20dystrophy" alt="Panel Lines" >  <div class="element-item g8" data-category="post-transition">
   <h3 class="name">Recommended healthy volunteer panel lines</h3>

   
  </div>	</a>
 <a href="/lines/#/cohorts/retinitis-pigmentosa" alt="Retinitis Pigmentosa"> <div class="element-item g7" data-category="lanthanoid">
   <h3 class="name">Retinitis Pigmentosa</h3>
	
    
  </div>  </a>
  
   <a href="/lines/#/cohorts/batten-disease" alt="Battens disease">
  <div class="element-item g4 element-item--gh2" data-category="noble-gas">
   <h3 class="name">Batten disease</h3>
	
  </div> </a>
  <a href="/lines/#/cohorts/rare-genetic-neurological-disorder"> <div class="element-item g5 element-item--gh2 element-item--gw2" data-category="diatomic">
  <h3 class="name" alt="Childhood neurology">Childhood neurology</h3>

 
  </div>	</a>


    <a href="/lines/#/lines"> <div class="element-item g4 element-item--gh2 element-item--gw2" data-category="diatomic">
  <h3 class="name" alt="All Cohorts">All Cohorts </h3>

 
  </div>	</a>
  
  
  
  
  
  
</div>


    </div>
    
   
    
    	  </div>
  </div>


<div class="containerwide" id="celllinesusewide">

   <div class="container" id="celllineusesmall">
    <div class="row" >
      <div class="twelve columns" id="cellusewidetext">
       <h1>Using HipSci lines for your research</h1>
		   <p>Our banking agreement with two cell banks mean academic researchers can obtain our iPSC lines from ECACC and commercial entities from EBiSC</p>
		
		<a href="https://www.phe-culturecollections.org.uk/products/celllines/ipsc/search.jsp?&dosearch=true&IPSC_CellLineSuppliedBy_FACET=SGlwU2Np">  <div class="button">Purchase Lines</div></a>
         
    </div>
	  </div>
	  	<div id="vids"></div>
	<div class="row" id="cellvids">
	
      <div class="six columns" id="cellusetext">
		  <a href="/cellvids/1.html" data-featherlight="ajax"> <img src="/images/vidholder3.jpg" alt="HipSci News"> </a>    <h5>Navigating our cell line browser</h5>
		  <p>Using our cell line browser to find a line of interest</p> 
		 <a href="/instructions/navigating-our-cell-line-browser.pdf"><div class="button">Download Instructions</div></a>
    </div>
    
    <div class="six columns" id="cellusetext">
		<a href="/cellvids/2.html" data-featherlight="ajax">    <img src="/images/vidholder3.jpg" alt="HipSci News">  </a>
		  <h5>Culturing feeder-free lines</h5>
		  <p>How to grow our feeder free lines in your lab</p> 
		<a href="/instructions/feeder-free-culture-protocol.pdf"><div class="button">Download Instructions</div></a>
    </div>
    </div
		<div class="row" id="cellvids"><div id="cultfeed"></div>
   <div class="six columns"  id="cellusetext">
		<a href="/cellvids/1.html" data-featherlight="ajax">   <img src="/images/vidholder3.jpg" alt="HipSci News">  </a>
		  <h5>Culturing feeder-dependent lines
</h5>
		  <p>How to grow our feeder dependent lines in your lab</p> 
		 <a href="/instructions/feeder-dependant-culture-protocol.pdf"><div class="button">Download Instructions</div></a>
    </div>
    
   	    <div class="six columns"  id="cellusetext"><div id="troubipsc"></div>
			 <a href="cellvids/1.html" data-featherlight="ajax">    <img src="/images/vidholder3.jpg" alt="HipSci News">   </a>
		  <h5>Troubleshooting iPSC culture</h5>
		  <p>What to do when things go wrong</p>  
		  <a href="/instructions/ipsc-culture-trouble-shooting-guide.pdf"><div class="button">Download Instructions</div></a>
		  
    </div>
    	  </div>
	</div>
  </div>

  
  
  
  
  
  
   <div class="container" id="faq">
	   <h1>FAQ<superscript>s</superscript></h1>
    <div class="row">
		
    <a href="/cells/faq/access-cell-lines-research.html" data-featherlight="ajax">  <div class="one-half column" id="faqtext">
 
  How do you access HipSci cell lines 
			for your research?
    </div> </a>
    
  <a href="/cells/faq/pick-good-healthy-donor-line.html" data-featherlight="ajax">   <div class="one-half column" id="faqtext" >
 
   What is a good healthy donor line to pick?
    </div></a> 
   	  
    	  </div>
    	  
    	   <div class="row">
    	  	<a href="/cells/faq/why-healthy-volunteers.html" data-featherlight="ajax">   <div class="one-half column" id="faqtext">
           			
           				Why does HipSci have cell lines from so many healthy volunteers? 
    </div></a>
    
    	<a href="/cells/faq/find-line-specific-criterion.html" data-featherlight="ajax">    <div class="one-half column" id="faqtext" >
           	
           		  How do I find a cell line with a specific criterion?
				   </div></a>
	   </div>
    	     <div class="row">
    	  
       	<a href="/cells/faq/cell-culturing-protocols.html" data-featherlight="ajax">     <div class="one-half column" id="faqtext">
           		
           			  Can I have the cell culturing protocols for HipSci lines? 
    </div> </a> 
    
<a href="/cells/faq/ipsc-derivation-pipeline.html" data-featherlight="ajax">      <div class="one-half column" id="faqtext" >
           		
           			  What is HipSci’s iPSC derivation pipeline? 
		   </div> </a>
	   </div>
    		  
    	   <div class="row">
    	  
    <a href="/cells/faq/nomenclature.html" data-featherlight="ajax">	   <div class="one-half column" id="faqtext">
	
		   What nomenclature has been used to name HipSci cells? 
	
    </div> </a>
    
    <a href="/cells/faq/abbreviations-cell-browser.html" data-featherlight="ajax">   <div class="one-half column" id="faqtext" >

   	 What do the terms/abbreviations in the cell browser mean? 
    </div></a>
   	  
      </div>
    		  
    	   <div class="row">
    	  
    	    
    	 <a href="/cells/faq/acknowledge-lines-publication.html" data-featherlight="ajax">	       <div class="one-half column" id="faqtext">

	     How are HipSci cell lines to be acknowledged in any publication? 
		   </div>	</a>
   	  
   	       
 <a href="/cells/faq/difference-managed-open-access.html" data-featherlight="ajax">	  <div class="one-half column" id="faqtext">
   
    What is the difference between managed access and open access lines?  
    </div></a>
   	      
   	                  </div>
    	  
    	  
    	      	   <div class="row">
    	  
    	    
    	 <a href="/cells/faq/ethics.html" data-featherlight="ajax">        <div class="one-half column" id="faqtext">

  Do I need to obtain my own ethics to work on these lines?
</div>	 </a>
   	  
   	   <a href="/cells/faq/blank-consent-and-patient-info-leaflet.html" data-featherlight="ajax">      <div class="one-half column" id="faqtext" >

				   	  Can I see the blank consent forms and patient information leaflets? 
					   </div></a>
	   </div>
    	  
    	 	      	   <div class="row">
    	  
    	    <a href="/cells/faq/bespoke-ipsc.html" data-featherlight="ajax">
    	       <div class="one-half column" id="faqtext">

 Can HipSci make iPSC lines for some donors I would like iPSCs from?
</div>	 </a>
   	  
   	     <a href="/cells/faq/access-fibroblast.html" data-featherlight="ajax">     <div class="one-half column" id="faqtext">  
			
		 Can I access the parent fibroblast along with the iPSC cell line? 
		
</div>	 </a>
    </div>
   	      
  	              
  	                 <div class="row">
    	  
    	    
    	   <a href="/cells/faq/where-line-information.html" data-featherlight="ajax">     <div class="one-half column" id="faqtext">
 I would like to know the Sendai status, passage number, culturing conditions of the line I am interested in. Where do I find this cell line specific information? 
  </div>	 </a>
   	  
   	      
	 <a href="/cells/faq/mutation-rare-disease-line.html" data-featherlight="ajax">  <div class="one-half column" id="faqtext"> 
	  
	    Where do I find the mutation for the rare disease line?
 </div>	   </a>
    </div>
   	              
   	                  </div>  
  </div>
 {% include components/footer.html %}
