---
layout: page
title: Data
permalink: /data/
tags:
    - data
---

<div class="row">
<div class="col-md-5 col-sm-5">
<h3>HipSci's data</h3>
<ul>
{% assign posts = site.tags['data'] | sort: 'priority' %}
{% for post in posts reversed %}
<li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
</div>
<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1">
<h3>Assays</h3>
<ul>
{% assign posts = site.tags['assay'] | sort: 'priority' %}
{% for post in posts reversed %}
<li><a href="{{post.url}}">{{post.title}}</a></li>
{% endfor %}
</ul>
</div>
</div>
