---
layout: page
title: HipSci site directory
permalink: /directory/
include_in_sitemap: true
---

{% assign sorttags = "project cells data assay disease publication other" | split: ' ' %}
<nav>
{% for tag in sorttags %}
    <h3>{% cycle 'About the project', 'Cell lines', 'Data', 'Assays', 'Disease cohorts', 'Publications', 'Other pages'%}</h3>
    <ul>
    {% assign posts = site.tags[tag] | sort: 'priority' %}
    {% for post in posts reversed %}
    <li><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
</nav>
