---
layout: blank
title: Home
permalink: /
order: 1
tags:
    - home
---

{% capture about %}{% include about.md %}{% endcapture %}

<div class="row">
  <div class="col-md-5 col-md-offset-0 col-lg-offset-1 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 wrapper"> 
  <img src="{{site.baseurl}}/img/ipsc_morphology1.png" class="img-responsive" alt="iPSC morphology">
  </div>
  <div class="col-lg-5 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 wrapper">
    <h1 class="post-title">What is HipSci?</h1>
    {{ about | markdownify }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-6 col-xs-6">
  {% include components/announcements_panel.html %}
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
  {% include components/publications_panel.html %}
  </div>
  <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3  col-xs-8 col-xs-offset-2 wrapper">
  {% include components/browser_button.html text='Cell lines and data browser'  button_text='Start' link='/lines' %}
  </div>
</div>

