---
layout: default
title: Home
order: 1
---

<div class="wrapper">
      {% capture index %}{% include index.md %}{% endcapture %}  
      {{ index | markdownify }}
</div>

<div class="wrapper">
  <h2 class="post-title">Recent Announcements</h2>
    {% for post in site.categories.announcements | limit: 10 %}
        <div class="announcements">
        <h4 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>'}}</a></h4>
        <p>{{post.date | date: '%B %d, %Y'}}</p>
        {{ post.content | markdownify }}
        </div>
    {% endfor %}
</div>
