---
layout: default
title: Search
permalink: /search/
---

<div ng-app="searchResults" ng-controller="SearchCtrl as SearchCtrl">
<div class="wrapper">
  <h2 class="post-title" ng-bind="SearchCtrol.searchPhrase"></h2>
  <div ng-repeat="hit in SearchCtrl.hits" class="announcements">
        <h4 class="post-title"><a ng-href="hit._source.url" ng-bind="hit._source.title"></a></h4>
        <p ng-repeat="highlight in hit.highlight.content" ng-bind-html="highlight"></p>
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular-sanitize.min.js"></script>
<script src="{{ "/js/search_results.js" | prepend: site.baseurl }}"></script>
