<footer>
   <div class="containerwide"id="footer">
 
    <div class="row" id="footerbox">
		
       	      <div class="three columns" id="foot1">
				  <h5>Contact Us</h5>
				  <p> General: <br/>hipsci@ebi.ac.uk</p>
<p>Purchasing:<br/> culturecollections.technical@phe.gov.uk
				  </p>        </div>
   	  
   	   <div class="three columns" id="foot1">
	 <h5>Funders</h5>
		
			  
			 <a href="https://wellcome.ac.uk/"><img src="/images/funderfooterwelcome.png" alt="Sangar"></a> 
			 <a href="https://www.mrc.ac.uk/"><img src="/images/funderfootermrc.png" alt="MRC"></a> 
			 
		
			  
			  </div>
  	  	      
  	  	      
   	  	      <div class="three columns" id="foot1">
				  <h5>Legal</h5>
				<ul>
					<li><a href="http://www.ebi.ac.uk/about/terms-of-use"> Terms of Use</a></li>
					<li><a href="http://www.ebi.ac.uk/about/terms-of-use"> Privacy</a></li>
					<li><a href="http://www.ebi.ac.uk/about/terms-of-use"> Cookies</a></li>
				  </ul>  </div>
				  
	 <div class="three columns" id="foot1">
	 <h5>Follow Us</h5>
		
			  
			 <a href="https://twitter.com/hipsci"><img src="/images/twitter.png" alt="HipSci Social Media"></a> 
			 
		
			  
			  </div>
				
				   <div class="row">
				    <div class="twelve columns" id="disc">
						&copy; HipSci. All Rights Reserved.	Web Design by <a href="http://www.conceptstore.co.uk">Conceptstore.</a> Site maintained by <a href="http://www.ebi.ac.uk">EMBL-EBI</a>
					   </div>
		</div>  
	   </div>
   
  </div>


</footer>

<script src="js/jquery-1.7.0.min.js"></script>
<script src="js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<script>
$('a[href*="#"]:not([href="#"])').click(function() {
  if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
    var target = $(this.hash);
    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
    if (target.length) {
      $('html, body').animate({
        scrollTop: target.offset().top
      }, 1000);
      return false;
    }
  }
});
</script>

<script>
function submitSearch() {
   var q = document.getElementById('search-input').value;
   if (q) {
     window.location.href = "http://www.hipsci.org/search/#?q="+q;
   }
}
</script>
