<footer>
<div class="sheet container footer">
<div class="inner-sheet">
<div class="row">

<div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
<div class="row">
  <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-4 col-xs-offset-1 footer-wrapper">
    <p>HipSci is funded by the <a href="http://www.wellcome.ac.uk/" target="_blank">Wellcome Trust</a>
    and <a href="http://www.mrc.ac.uk/index.htm" target="_blank">MRC</a></p>
  </div>
  <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-4 col-xs-offset-2 footer-wrapper">
    <p><a href="{% post_url 1111-11-11-announcements %}">Announcements</a></p>
    <p><a href="{% post_url 1111-11-11-project-wiki %}">Project wiki</a></p>
  </div>
</div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="row">
  <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-4 col-xs-offset-1 footer-wrapper">
    <p>Contact us <a href="mailto:hipsci@ebi.ac.uk">hipsci@ebi.ac.uk</a></p>
  </div>
  <div class="col-md-6 col-sm-6 col-sm-offset-0 col-xs-4 col-xs-offset-2 footer-wrapper">
    <p><a href="http://www.twitter.com/hipsci">HipSci on Twitter</a></p>
    <p><a href="{{'/announcements/rss.xml' | prepend: site.baseurl}}">RSS Feed</a></p>
    <p><a href="{{'/directory' | prepend: site.baseurl}}">Site directory</a></p>
  </div>
</div>
</div>


<div class="col-md-12">
  <p class="text-center">
    Site maintained by <a href="http://www.ebi.ac.uk/">EMBL-EBI</a>
    |
    <a href="http://www.ebi.ac.uk/Information/termsofuse.html">Terms of Use</a>
    |
    <a href="http://www.ebi.ac.uk/Information/privacy.html">Privacy</a>
    |
    <a href="http://www.ebi.ac.uk/Information/e-directive.html">Cookies</a>
  </p>
</div>
  
</div>
</div>
</div>
</footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
