<header>
  <div class="containerwide" id="topmenu">
    <div class="container">
    <div class="row">
      <div class="two columns" id="logo">
      <a href="/" alt="HipSci"> <img src="/img/logo.png" at="HipSci" ></a>
      </div>
               
                  
                     
                           <div class="three columns" id="search">
   <form id="newsearch" method="get" onSubmit="submitSearch(); return false;">
  <input type="text" class="newsinput" name="q" maxlength="120" id="search-input">
  
  <input type="image" name="submit" src="/img/icos.png" class="icosbutton">
    </form>
    </div>
       
       
       
        <div class="seven columns" id="menu">
        
       <nav>
      

       <label for="drop" class="toggle"> Menu</label>
        <input type="checkbox" id="drop" />
            <ul class="menu">
                <label for="drop" class="toggle"> Close Menu</label>
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-1" class="toggle">Home</label>
                    <a href="/">Home</a>
                    <input type="checkbox" id="drop-1"/>
                    <ul>
                         <li class="hide"><a href="/">Home</a></li>
                        <li><a href="/#about-hipsci">About HipSci</a></li>
                        <li><a href="/#news">News</a></li>
                        <li><a href="/#workflow">HipSci Workflow </a></li>
                    </ul> 

                </li>
               
               
               
               
               
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle">About Us</label>
                    <a href="/about">About Us</a>
                    <input type="checkbox" id="drop-2"/>
                    <ul>
                            <li class="hide"> <a href="/about">About Us</a></li>
                        <li><a href="/about#investigators">Investigators</a></li>
                        <li><a href="/about#funders">Funders and partners</a></li>
                        <li><a href="/about#news">News </a></li>
                    </ul> 

                </li>
                
                <li>
                <!-- First Tier Drop Down -->
                <label for="drop-3" class="toggle">Cell lines </label>
                <a href="/cells">Cell lines </a>
                <input type="checkbox" id="drop-3"/>
                <ul>
              <li class="hide"><a href="/cells">Cell lines </a></li>
                    <li>   <a href="/cells#cohorts">Cohorts</a></li>
                  
                    <li>                       
                    <!-- Second Tier Drop Down -->        
                    <label for="drop-4" class="toggle">Using HipSci lines for your research > </label>
                       <a href="/cells#for-your-research">Using HipSci lines for your research</a>         
                    <input type="checkbox" id="drop-4"/>

                    <ul>
                      <li><a href="/cells#for-your-research">Purchase lines</a></li>
                      <li><a href="/cells#navigate-browser">Navigating our cell line browser</a></li>
                      <li><a href="/cells#feeder-free">Culturing feeder-free lines </a></li>
                      <li><a href="/cells#feeder-dependent">Culturing feeder-dependent lines</a></li>
                      <li><a href="/cells#trouble-shoot-culture">Trouble shooting iPSC culture</a></li>
                     
                    </ul>
                    </li>
                      <li><a href="/cells#faq">FAQs on cell lines</a></li>
                </ul>
                </li>
                
                 <li>
                <!-- Second Tier Drop Down -->
                <label for="drop-5" class="toggle">Data</label>
                <a href="/data">Data </a>
                <input type="checkbox" id="drop-5"/>
                <ul>
              <li class="hide"> <a href="/data">Data </a></li>
                    <li>   <a href="/data#assays">Assays</a></li>
                  
                    <li>                       
                    <!-- Second Tier Drop Down -->        
                    <label for="drop-6" class="toggle">Using hipsci data for your research </label>
                      <a href="/data#for-your-research">Using hipsci data for your research</a>         
                    <input type="checkbox" id="drop-6"/>

                    <ul>
                      <li> <a href="/data#overview">The data-an overview</a></li>
                      <li> <a href="/data#apply-managed-access">How to apply for managed access data</a></li>
                      <li> <a href="/data#find-and-download">Finding and downloading data</a></li>
                       
                     
                    </ul>
                    </li>
                     <li>   <a href="/data#faq">FAQs on data</a></li>
                     
                </ul>
                </li>
                
              
           
                
            </ul>
        </nav>

  
  
    


    
      </div>
      
  
      
      
    </div>
    </div>
  </div>
 

  
</header>
