<header class="header clearfix" role="banner">
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-2 logo">
            <a href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/img/hipsci-logo.png" | prepend: site.baseurl }}" class="img-responsive"></a>
        </div>
        <div class="col-sm-7 col-xs-9 col-md-8 col-lg-9">
            <h3>{{ site.data.hipsci.title_full }}</h3>
        </div>
        
        <nav>
        <div class="col-md-6 col-sm-9 nav">
                <ul class="nav nav-pills nav-justified">
                    <li class="{% if page.tags contains "cells" or page.tags contains "disease" %}active{% else %}inactive{% endif %}"><a href="{% post_url 2015-10-01-cells %}">Cell lines</a></li>
                    <li class="{% if page.tags contains "data" or page.tags contains "assay" %}active{% else %}inactive{% endif %}"><a href="{% post_url 2015-10-01-data %}">Data</a></li>
                    <li class="{% if page.tags contains "project" %}active{% else %}inactive{% endif %}"><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
                    <li class="{% if page.tags contains "publication" %}active{% else %}inactive{% endif %}"><a href="{{ "/publication" | prepend: site.baseurl }}">Publications</a></li>
                </ul>
        </div>
        </nav>
    </div>

</header>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8  col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    {% include components/search_box.html %}
  </div>
</div>
