<div class="container" id="news">
  <div class="row">
    <div class="one-half column" id="newsbox">
      <h1>News</h1>
      <h3>Publication</h3>
      <ul>
        <li><a href="http://biorxiv.org/content/early/2016/05/25/055160">  Common genetic variation drives molecular heterogeneity in human iPSCs</a></li>
        <li><a href="http://biorxiv.org/content/early/2017/01/06/095943"> Molecular and functional variation in iPSC-derived sensory neurons</a></li>
        <li><a href="http://biorxiv.org/content/early/2017/01/26/102392"> Genetic effects on chromatin accessibility foreshadow gene expression changes in macrophage immune response  </a></li>
      </ul>
          
      <h3>Announcements</h3>
           
      <ul>
        <li>The HipSci Science meeting: London, 9th February 2017</li>
      </ul>
   	     
    </div>
  </div>
  <div class="row">
    <div class="twelve columns" id="arc">
    <br/><br/>
      <div class="button2"><a href="http://">Archived News</a></div>
    </div>
  </div>
    	  
</div>
  
