<nav>
<div class="navigation">
<h3 class="nav-title">Publications</h3>
{% for publication in site.categories.publication limit:5%}
    {% if publication.title == page.title %}
      {% assign active =  "active" %}
    {% else %}
      {% assign active = "inactive" %}
    {% endif %}
    <div class="nav-item {{active}}">
    <a href="{{ publication.url | prepend: site.baseurl }}">
    {{ publication.title }}
    <div class="black text-right">{{publication.pub_ref | markdownify}}</div>
    </a>
    </div>
{% endfor %}
</div>
</nav>
