{% unless page.is_mojo_template %}<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">{% endunless %}
  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-62861164-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
         var localFrameworkVersion = '1.1'; // 1.1 or 1.2 or compliance or other
            // if you select compliance or other we will add some helpful
            // CSS styling, but you may need to add some CSS yourself
         var newBanner = document.createElement('script');
           newBanner.src = 'scripts/retirement.js';
           document.head.appendChild(newBanner);
           newBanner.onload = function() {
            retirementBanner(); // invoke the banner
            };
     </script>
     <div id="retirment-message-configuration" data-message="The HipSci website will be decommissioned on 30th March 2020. All cell lines will remain purchasable from ECCAC and all generated 'omics data will be available direct from the EMBL-EBI public archives. For more information click <a class='white-color' href='http://test.hipsci.org/about#news'>here</a>."></div>
     <div id="retirment-message-configuration" data-message="The HipSci website will be decommissioned on 30th March 2020. All cell lines will remain purchasable from ECCAC and all generated 'omics data will be available direct from the EMBL-EBI public archives. For more information click <a class='white-color' href='http://test.hipsci.org/retirement'>here</a>."></div>
 </head>