---
layout: blank
tags:
    - home
---

<div class="row">
  <div class="col-md-5 col-md-offset-0 col-lg-offset-1 col-sm-8 col-sm-offset-2 col-xs-12-maxwidth wrapper"> 
    <iframe width="100%" height="300px" src="https://www.youtube.com/embed/-Fp34_5rPtk" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-lg-5 col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12-maxwidth wrapper">
    <h1 class="post-title">What is HipSci?</h1>
    {{ content | markdownify }}
  </div>
  <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-0 col-sm-6 col-xs-6">
  {% include components/announcements_panel.html %}
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
  {% include components/publications_panel.html %}
  </div>
  <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-3 col-xs-12 wrapper">
  {% include components/browser_button.html text='Cell lines and data browser'  button_text='Start' link='/lines' %}
  </div>
</div>

