---
layout: page
title: How do I know what is a good line to pick?
permalink: /cells/faq/panels/
---

<p>For new users of our iPSC resource, we have composed two panels (feeder-dependent and feeder-free) of lines from the HipSci iPSC collection that we would recommend. These lines have been selected based on their high pluritest scores, low CNV’s, comprehensively characterised assay data, and their differentiation potential.</p>

<div class="row">
  <div class="six columns panel-table">
    <h4>Feeder-free panel</h4>
    <table class="u-full-width"><tbody>
      {% for line in site.data.panel.ff %}
      <tr>
        <td><a href="/lines/#/lines/{{line.name}}">{{line.name}}</a></td>
        <td><a class="button button-primary" target="_blank" href="http://www.phe-culturecollections.org.uk/products/celllines/ipsc/detail.jsp?refId={{line.catalog}}&collection=ecacc_ipsc">Purchase</a></td>
      </tr>
      {% endfor %}
      <tr>
    </tbody></table>
  </div>
  <div class="six columns panel-table">
    <h4>Feeder-dependent panel</h4>
    <table class="u-full-width"><tbody>
      {% for line in site.data.panel.fd %}
      <tr>
        <td><a href="/lines/#/lines/{{line.name}}">{{line.name}}</a></td>
        <td><a class="button button-primary" target="_blank" href="http://www.phe-culturecollections.org.uk/products/celllines/ipsc/detail.jsp?refId={{line.catalog}}&collection=ecacc_ipsc">Purchase</a></td>
      </tr>
      {% endfor %}
      <tr>
    </tbody></table>
  </div>
</div>

<p>If you are looking for the associated assay data for these lines, simply click on the line name and it will take you to the data files you can download.</p>
